.container-fluid
  .row
    .col-lg-12
      %h4 {{ board.name }}
  .row
    .col-lg-1
      .card
        .card-header
          %form{ ng: { submit: "create(name)" } }
            .input-group
              %input.form-control.form-control-sm{ type: 'text', placeholder: 'new list name', name: 'name', ng: { model: 'name' } }
              %span.input-group-btn
                %button.btn.btn-primary.btn-sm{ type: 'submit', ng: { disabled: '!(name.length > 0)' } } Create

