.container-fluid
  .row
    .col-lg-12
      %h4 {{ board.name }}
  .row
    .col-lg-3{ ng: { repeat: 'list in board.lists' } }
      .card
        .card-header {{ list.name }}
    .col-lg-3
      .card
        .card-header
          %form{ ng: { submit: "createList(listName)" } }
            .input-group
              %input.form-control.form-control-sm{ type: 'text', placeholder: 'new list name', name: 'name', ng: { model: 'listName' } }
              %span.input-group-btn
                %button.btn.btn-primary.btn-sm{ type: 'submit', ng: { disabled: '!(listName.length > 0)' } } Create

